$color : lightcoral;

h1,h2{
    color:$color ;
}
%style{
    background-color: $color;
}
#table{
    @extend %style;
    padding-left: 30%;
    border : 5px solid black;
    border-collapse:collapse;
    margin:100;
    th{
        border: 2px solid black;
        width:50%;
    }
}

